.tab {
  position: relative;
  background-color: white;
  height: 100%;
  width: auto;
  padding: {
    left: 21px;
    right: 21px;
  }
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;

  transition: all 0.2s;
  cursor: pointer;

  &__acitve,
  &__pinnedTab {
    color: black;
    background-color: #f1f5f8;

    .tab__text {
      color: black;
    }
    & > svg {
      & path {
        fill: black;
      }
    }
  }
  &__pinnedTab {
    border-top: 2px solid #4690e2;
  }
  &:hover:not(.tab__isDragging) {
    background-color: #eff2f4;

    .tab__text {
      color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 60%;
    }
    .tab__btnDelete {
      display: block;
    }
    & > svg {
      & path {
        fill: black;
      }
    }
  }
  &__isDragging {
    background-color: #7f858d !important;
    .tab__text {
      color: white !important;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    color: #7f858d;
    text-wrap: nowrap;
  }
  &__btnDelete {
    display: none;
    width: auto;
  }
}
